<h1>Test#index</h1>
<p>app/views/test/index.html.erb</p>

<p>

	<%= @testowa %>

<p/>

<p>
<% @imiona.each do |imie| %>
	<%= "Witaj #{imie.capitalize} w kursie Ruby on Rails!" %>
	<hr>
<% end %>
</p>

<p>
	Parametr ID= <%= @id+10 %>
</p>

<hr>
	<%= params.inspect %>
<hr>

