<p>

	<a href="witaj?id=2&strona=3">link do strony witaj z HTML</a>

</p>

<p>

	<%= link_to('link do strony witaj z RoR', {:action=>'witaj', :id=>2, :strona=>3}) %>

</p>

<p>

	<%= link_to('link do strony index z RoR', {:action=>'index', :id=>6, :strona=>9}) %>

</p>
