<div class="hero-unit">
<h1>Usunięcie konta Użytkownika</h1>

<%= form_for(:uzytkownik, :url => {:action => 'kasuj', :id => @uzytkownik.id}) do |pole| %>

<p>Czy na pewno mam usunąć konto użytkownika?</p>

<p class="text-warning"><%= @uzytkownik.imie + " " + @uzytkownik.nazwisko %></p>

<div style="text-align: center;">
	<%= link_to("Powrót", {:action => 'index'}, :class => 'btn btn-primary')%>
	<%= submit_tag("Usuń", :class =>  'btn  btn-danger') %>
</div>

<% end %>
</div>