<div class="navbar-wrapper">
  <div class="container">
    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
           <a class="navbar-brand logo" href="http://www.strefakursow.pl"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/public">Home</a></li>
            <li><a href="/public/artykuly">Strony</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Galerie<b class="caret"></b></a>
              <ul class="dropdown-menu">
                  <% galeria_menu   = Galerie.where(:widoczna => true).last(10) %>
                  <% galeria_menu.each do |galeria| %>
                           <li><%= link_to(galeria.nazwa, {:action => 'galerie', :galeria_id => galeria.id}) %></li>   
                  <% end %>
              </ul>
            </li>                
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Kategorie <b class="caret"></b></a>
              <ul class="dropdown-menu">
                  <% kategoria_menu   = Kategorie.where(:widoczna => true).last(10) %>
                  <% kategoria_menu.each do |kategoria| %>
                           <li><%= link_to(kategoria.nazwa, {:action => 'kategorie', :kategoria_id => kategoria.id}) %></li>   
                  <% end %>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
